@import url('./main-layout.css');

/*Hide the scroll bar*/
::-webkit-scrollbar {
    display: none;
}
.reviewer-dialog {
    position: relative;
}
.reviewer-dialog::before {
    content: "Add Reviewer";
    position: absolute;
    top: -20px;
    left: 0;
    color: #354653;
    font-size: 14px;
}

.delete-button {
    transition: background-color 200ms ease;
}
/*background: rgb(107, 156, 187);*/

.delete-button:hover {
   background-color: #fc6076 !important;
}
